<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ขั้นตอนการสั่งซื้อ parndhom | ปานหอม น้ำหอมติดรถยนต์</title>
    <link href="/image/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/79561afa19.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('headerClient') %>    
    <main class="howto-buy">
        <div class="container-howto">
            <div class="item-howto">
                <div class="h2-howto">
                    <h2>ขั้นตอนที่ 1</h2>
                    <p> คลิกที่ปุ่มเลือกสินค้า ในหน้าแรก</p>
                </div>
                <img src="/image/howtobuy/howto1.jpg" alt="ขั้นตอนการสั่งซื้อน้ำหอม" >
            </div> 
            
            <div class="item-howto">
                <div class="h2-howto">
                    <h2>ขั้นตอนที่ 2</h2>
                    <p> เลือกจำนวนสินค้าที่ต้องการสั่งแล้วกดที่รถเข็น</p>
                </div>
                <img src="/image/howtobuy/howto2.jpg" alt="ขั้นตอนการสั่งซื้อน้ำหอม" >
            </div>
            <div class="item-howto">
                <div class="h2-howto">
                    <h2>ขั้นตอนที่ 3</h2>
                    <p>จากนั้นกดไปที่ปุ่มชำระสินค้า</p>
                </div>
                <img src="/image/howtobuy/howto3.jpg" alt="ขั้นตอนการสั่งซื้อน้ำหอม" >
            </div>
            <div class="item-howto">
                <div class="h2-howto">
                    <h2>ขั้นตอนที่ 4</h2>
                    <p>1. กรอกชื่อที่อยู่การจัดส่ง</p>
                    <p>2. โอนเงินผ่านบัญชี หรือ คิวอาร์โคต</p>
                    <p>2. แนบสลิปเงินโอน จากนั้น กดยืนยันการชำระ</p>
                </div>
                <img src="/image/howtobuy/howto4.jpg" alt="ขั้นตอนการสั่งซื้อน้ำหอม" >
            </div>
            <div class="item-howto">
                <div class="h2-howto">
                    <h2>ขั้นตอนที่ 5</h2>
                    <p>ตรวจสอบความถูกต้อง หากชื่อที่อยู่ผิด กลับไปแก้ไขใหม่ ก่อนกดยืนยันอีกครั้ง</p>
                </div>
                <img src="/image/howtobuy/howto5.jpg" alt="ขั้นตอนการสั่งซื้อน้ำหอม" >
            </div>
            <div class="item-howto">
                <div class="h2-howto">
                    <h2>ขั้นตอนที่ 6</h2>
                    <p>เมื่อกดยืนยันเสร็จแล้ว จะได้เลขที่คำสั่งซื้อ สามารถ นำเลขที่คำสั่งซื้อมาตรวจสอบ สถานะพัสดุในปุ่ม ตรวจสอบพัสดุ</p>
                </div>
                <img src="/image/howtobuy/howto6.jpg" alt="ขั้นตอนการสั่งซื้อน้ำหอม" >
            </div>
        </div>
    </main>
    <%- include('footerClient') %> 
    <script src="/script/script.js"></script>
</body>
</html>