
    <div class="modal-checkparcel" id="checkparcel">
        <div class="con-modal">
            <button class="close-btn"><i class="far fa-window-close"></i></button>
            <div class="modal-form">
                <p>ตรวจสอบสถานะจัดส่ง</p>
                <form action="/checkOrder" method="post" id="check-order">
                    <input type="text" name="check_order" id="input-checkorder" value="" placeholder="ใส่เลขออเดอร์">
                    <button type="submit">ยืนยัน </button>
                </form>
            </div>
        </div>
    </div>
    <header class="header">
        <div class="logo ">
            <div class="conlogo">
                <img src="/image/home/logo_optimized.png" alt="logo parndhom">
            </div>
        </div>
        <div class="navbar ">
            <ul class="navbar-ul">
                <li><a href="/"><i class="fas fa-home"></i><span>หน้าแรก</span></a></li>
                <li><a href="/howtoBuy"><i class="fas fa-chalkboard-teacher"></i><span> ขั้นตอนการสั่งซื้อ</span></a></li>
                <li><a href="https://web.facebook.com/parndhom" target="_blank"><i class="fas fa-bullhorn"></i><span>โปรโมชั่น</span></a></li>
                <li><a href="#contactUs"><i class="fas fa-phone-alt"></i><span>ติดต่อเรา</span></a></li>
                <li id="open-modal"><a href="#"><i class="fas fa-shipping-fast"></i> <span>ตรวจสอบพัสดุ</span></a></li>
            </ul>
        </div>
    </header>