
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/image/backend/logocover.png" alt="logo">
                </span>
                <div class="text header-text">
                    <span class="parndhom">Parndhom </span>
                    <span class="profession">จัดการหลังบ้าน</span>
                </div>
            </div>

            <i class="fas fa-angle-right toggle"></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/ManageOrder">
                            <i class="fas fa-bell icon"></i>
                            <span class="text nav-text"> รายการขาย</span>
                        </a>
                    </li>
            
                
                    <li class="nav-link">
                        <a href="/ManageShipping">
                            <i class="fas fa-truck icon"></i>
                            <span class="text nav-text"> รอจัดส่ง</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/ManageSuccess">
                            <i class="fas fa-check-square icon"></i>
                            <span class="text nav-text"> สินค้าจัดส่งแล้ว</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/ManageAddproduct">
                            <i class="fas fa-cart-plus icon"></i>
                            <span class="text nav-text"> เพิ่มสินค้า </span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/ManageProfile">
                            <i class="fas fa-edit icon"></i>
                            <span class="text nav-text"> รายละเอียดบริษัท</span>
                        </a>
                    </li>
                </ul>
            </div> 

            <div class="bottom-content">
                <li >
                    <a href="/ManageLogin">
                        <i class="fas fa-user icon"></i>
                        <span class="text nav-text">Login</span>
                    </a>
                </li>
                <li >
                    <a href="/ManageLogout">
                        <i class="fas fa-sign-in-alt icon"></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
                

                <li class="mode">
                    <div class="moon-sun">
                        <i class="fas fa-cloud-sun icon sun"></i>
                        <i class="fas fa-cloud-moon icon moon"></i>
                    </div>
                    <span class="mode-text text"> Dark Mode</span>
                
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>
    